################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
*.suo
*.tlog
*.idb
*.log
*.obj
*.pch
*.pdb
*.lib
*.user
*.filters
*.FileListAbsolute.txt
*.FileListAbsolute.txt
/libcommon/.vs
/libcommon/x64/Release/libcommon.lib.recipe
/libcommon/x64/Debug/libcommon.lib.recipe
/libcommon/Release/libcommon.lib.recipe
